.your__store-background{
    background-color:#F8F8F9;
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
}
.your__store{
    @extend %container;
    h1{
        margin-top: 45px;
        font-family: 700;
        font-size: 32px;
        color:#222C3A;

    }
    p{
        width: 23em;
        @include a-styles (16px ,400);
        color:#6C7178;
        margin-bottom: 15px;
    }
   .phones {
        position: absolute;
        top: -49px;
        right: 45px;
    }
}